<div class="mx-auto mt-5">
  <div class="image-container">
    <img src="{{ portfolio.picture.large }}" class="rounded-circle" />
  </div>
  <div class="info-box mt-3">
    <ng-container *ngIf="value">
      <h4 class="mt-3">{{ text }}</h4>
      <h2>{{ value }}</h2>
    </ng-container>
  </div>
  <div class="icons flex-container mt-3">
    <div class="flex-item" (mouseenter)="showInfo(0)">
      <fa-icon [icon]="['fab', 'odnoklassniki']"></fa-icon>
    </div>
    <div class="flex-item" (mouseenter)="showInfo(1)">
      <fa-icon [icon]="['far', 'envelope']"></fa-icon>
    </div>
    <div class="flex-item" (mouseenter)="showInfo(2)">
      <fa-icon [icon]="['far', 'calendar']"></fa-icon>
    </div>
    <div class="flex-item" (mouseenter)="showInfo(3)">
      <fa-icon [icon]="['far', 'map']"></fa-icon>
    </div>
    <div class="flex-item" (mouseenter)="showInfo(4)">
      <fa-icon [icon]="['fas', 'phone']"></fa-icon>
    </div>
    <div class="flex-item" (mouseenter)="showInfo(5)">
      <fa-icon [icon]="['fas', 'lock']"></fa-icon>
    </div>
  </div>
</div>
